  body {
        margin: 0 auto;
        padding: 0;
        
    }

    .fontx{

    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1rem;
    }


    .fixo{
        width: 100%;
        height: 3%;
        background-color: #011629;
        padding: 0;
        margin: 0;
    
       
        top:0;
        position: fixed;
        
    }


#px{
    text-align: center;
}

 #caixaex{
    min-height: 200px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 25px;

 }

#caixa{
    padding-bottom: 45px;
    /* padding: right 20px; */
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    background-color:white;
    max-width: 31cm;

}

.ME:link{

    color:rgb(15, 44, 123);
}


#menu2,#menu{
    margin-left: 20%;
    margin-right: 2%;

  }

    a:link{

      text-decoration: none;
      color:hsl(0, 43%, 99%);
  }

  a:visited{
    color: rgb(247, 187, 76);
  }


  ul{
      list-style-type: none;


  }

  #li-menu{

      padding: 7px;
      font-size: 19px;
      font-family: 'Cutive Mono', monospace;

  }


  #li-menu a{
    margin: 0 7px;
    color: #ffffff;
  }

  #li-menu a:hover {
    background-color: rgb(182,13,13);
    padding: 6px 10px 6px 10px;
}



#header{

min-height: 250px;
background-color: rgb(182, 13, 13);
padding-top: 30px;

text-align: center;
color: aliceblue;
font-size: 17px;
margin-bottom: 25px;
padding: 3%;
padding-top: 6.3%;

}

#qrt{
font-size: 5rem;
margin-right: 20px;
padding-left: 30px;
padding-right: 30px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 50px;
background-color: white;
color: red;
}


.p1{
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    clear: both;}



#text{
    clear: both;
    line-height: 23px;
    padding: 40px;
    padding-top: 3px;
    background-color: #ffffff;

    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
    letter-spacing: 0.1rem;

    margin: auto;
    /*max-width: 30cm;*/
    margin-top: 0;
    margin-bottom: 13px;





}


#by{
 text-align: right;
 color: rgb(182, 13, 13);
}


footer{
    color: white;
    padding: 17px;
    background-color: #01003a;
    text-indent: 20px;
    clear: both;
    text-align: center;
}


/*Parte 2*/


#caixa2{
    min-height: 200px;
    max-width: 30cm;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    margin:auto;
    /* padding-right: 25px;
    padding-left: 25px; */

}

#menu12{
    margin-left: 20%;
    margin-right: 2%;
    margin-bottom: 10px;

  }

.sect{

    font-size: 1.75rem;
    color: #000000;
     /* color: #f0f8ff;
     background-color: #0c0032;  */
    border-bottom: solid #b60d0d 6px;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0;
    clear: both;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family: 'Cutive Mono', monospace;
}

#principal{
    clear: both;
    line-height: 23px;
    padding: 10px;
    /* background-color: #f0f8ff; */
    text-indent: 20px;
    font-size: 19px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    /*max-width: 30cm;*/
    border-radius: 10px;

}

#vid{
 padding: 15px;

}
hr{
    border-color: orange;
    margin: 0;
}


.relato{
    margin:10px;
    margin-bottom: 13px;
    line-height: 25px;
    padding: 30px;
    background-color:white;
    color: #000000;
    font-size: 19px;
    text-align: justify;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px gray; */


}

.relatoex{
    margin-top:0;
    margin-bottom: 13px;
    line-height: 25px;
    background-color:white;
    color: #000000;
    font-size: 19px;
    text-align: justify;
    margin:10px;
    border-radius: 10px;
    /* border:solid #b00404 3px; */
}

#disp{
    display:flex;

}




.ft{
    width: 15%;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    }


#qm{


    padding: 10px;
    background-color:white;
    font-size: 19px;
    text-align: justify;
    float:left

}

/*Parte 3*/




#caixa3{

    margin: 0 auto;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color:white;
    max-width: 31cm;
}

#menu23,#menu13{

    margin-right: 15%

  }


  #text3{

    clear: both;
    line-height: 23px;
    padding: 20px;
    /* background-color: #f0f8ff; */
    text-indent: 20px;
    font-size: 19px;
    text-align: center;
    margin: auto;
    /*max-width: 30cm;*/
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px gray; */

    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
    letter-spacing: 0.1rem;
}


.sect3{
    /* background-color:rgb(182, 13, 13); */
    /* background-color:#080023; */
    border-bottom: solid #ffa600e9 5px;
    font-size: 1.80rem;
    /* color:#f0f8ff; */
    color:#000000;
    text-align: center;
    padding: 5px;
    margin-top: 45px;
    margin-bottom: 0;
    clear: both;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family: 'Cutive Mono', monospace;

}

h2,h3{
    padding: 1px;
    margin: 0;
}

.principal3{
    clear: both;
    line-height: 23px;
    /* padding: 20px; */
    /* background-color: aliceblue; */
    text-indent: 20px;
    font-size: 19px;
    text-align: center;
    margin: auto;
    /*max-width: 30cm;*/
    /* border-radius: 0 0 10px 10px;
    border:solid #ffa600bd 1px;
    border-top: none; */


}



#qm{

    padding: 10px;
    background-color:white;
    font-size: 19px;
    text-align: center;
    float: none;
    /* box-shadow: 5px 5px 10px gray; */
}


#qmf{
float: none;
width: 15%;
border-radius: 10px;
}

#mf{
float: left;
padding-top: 40px;
margin-left: 10%;
text-align: center;
align-items: center;
font-family: "Lato", sans-serif;
font-weight: 350;
letter-spacing: 0.1rem;
}



/*Responsividade*/

@media all and (max-width: 820px) {

    .fixo {
       
        display: flex;
        flex-direction: row;
        
        height: 3%;
        background-color: #011629;

        position: fixed;
        top: 0;

        margin: 0 auto;
       
      }

      #li-menu a{
        margin: 0 auto;
        padding: 0 auto;
      }

      #header{

        min-height: 250px;
        background-color: rgb(182, 13, 13);
        padding-top: 30px;
        
        text-align: center;
        color: aliceblue;
        font-size: 17px;
        margin-bottom: 25px;
        padding: 3%;
        padding-top: 16.3%;
        
        }
        
     


    /* #text {
        text-align: center;
    } */

    /* #menu, #menu2, li, ul {
        margin: 3px;
        padding: 3px;
        font-size: 16px;
        text-align: center;
        border-top: none;
        line-height: 25px;
        border-radius: 3px;
        padding: 3px;
    } */

    #Caixa, #Caixa2 {
        margin: auto;

    }

    /* .fontx{
        text-align: center;
    }
    */
    #mf{
        margin-left:0;
    }

    .relato, #text3, #qm{
        box-shadow: none;
        /* background-color: rgb(231, 253, 253); */
    }


}



@media all and (max-width: 829px) {

    .fixo {
       
        display: flex;
        flex-direction: row;
        
        height: 3%;
        background-color: #011629;

        position: fixed;
        top: 0;

        margin: 0 auto;
       
      }
   

      #li-menu a{
        margin: 0 auto;
       
        padding: 0 auto;
      }


      #header{

        min-height: 250px;
        background-color: rgb(182, 13, 13);
        padding-top: 30px;
        
        text-align: center;
        color: aliceblue;
        font-size: 17px;
        margin-bottom: 25px;
        padding: 3%;
        padding-top: 16.3%;
        
        }
        
    

      


    #text {
        text-align: center;
    }

    #menu12, #menu22 {
        margin-top: 1px;
        padding: 3px;
        font-size: 15px;
        text-align: center;
        border-top: none;
        line-height: 25px;
    }

    #principal, .relato,#disp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    #vid {
        width: 95%;
        height: 55vw;
        display: block;
        float: none;

    }

    .fontx{
        text-align: center;
    }

    #mf{
        margin-left:0;
    }

    .relato, #text3, #qm{
        box-shadow: none;
        /* background-color: rgb(231, 253, 253); */
    }
}

@media all and (max-width: 1489px) {

    .fixo {
       
        display: flex;
        flex-direction: row;
        
        height: 3%;
        background-color: #011629;

        position: fixed;
        top: 0;

        margin: 0 auto;
       
      }
      
     
      #li-menu a{
        margin: 0 auto;
        
        padding: 0 auto;
      }
     
      #header{

        min-height: 250px;
        background-color: rgb(182, 13, 13);
        padding-top: 30px;
        
        text-align: center;
        color: aliceblue;
        font-size: 17px;
        margin-bottom: 25px;
        padding: 3%;
        padding-top: 16.3%;
        
        }
        



    /* #text {
        text-align: center;
    } */

    /* #menu13, #menu23 {
        margin: 3px;
        padding: 3px;
        font-size: 15px;
        text-align: center;
        border-top: none;
        line-height: 25px;
    } */

    #Caixa3 {
        margin: auto 0;
    }

    body {
        float: none;
        display: block;
    }

    .principal3 {
        display: block;
        float: none;
        padding: auto;
        align-items: center;
        margin: 0;
    }

    #inclus, #acess {
        width: 80%;
        margin: 15px auto;
        display: block;
        float: none;
        padding: auto;
        align-items: center;
    }

    /* html {
        margin: auto;
    } */

    #mf {
        padding-top: 3%;
    }

    .fontx{
        text-align: center;
    }

    #mf{
        margin-left:0;
    }

    .relato, #text3, #qm{
        box-shadow: none;
        /* background-color:#f0f8ffc8; */
    }
}


